.wrapper {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

h1 {
  text-align: center;
  text-transform: uppercase;  
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', Arial,  serif;
}

.main {
  background-color:  #ffffff;
  color: black;
  padding: 65px;
  max-width: 900px;
  width: 90%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3),
            -23px 0 20px -23px rgba(0, 0, 0, .6),
            23px 0 20px -23px rgba(0, 0, 0, .6),
            inset 0 0 40px rgba(0, 0, 0, .1);
}
 
body{ 
  text-align: center;
}

.person {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.person-img {
  border-radius: 10%;
  margin-bottom: 35px;
  overflow: hidden;
  size: 100px;
}

.img {
  max-width: 50%;
  size: 250px 300px;
}

.person-name {
  font-size: rem 30;
  margin-bottom: 15px;
}

.pesron-position {
  font-size: rem 25;
}

.main-item {
  margin-bottom: 95px;
}

.main-item :last-child {
  margin-bottom: 0;
}

.main-item-title {
  font-family: 'Roboto Mono', bold, Arial, Helvetica, sans-serif;
  font-size: rem25;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.main-item-body, 
.main-item-text  {
  padding-left: 60px;
}

.main-item-text,
.main-item-list,
.main-list-item  {
  font-family: 'Roboto Mono', italic, Arial, Helvetica, sans-serif;  
}

.main-subitem {
  margin-bottom: 40px;
}

.main-subitem :last-child {
  margin-bottom: 0;
}

.main-subitem-title {
  display: block;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.main-list-item {
  margin-bottom: 15px;
}

.main-list-item :last-child {
  margin-bottom: 0;
}